.bg-netflix {
background-color: #141414;
}
a:link {
    text-decoration: none;
}
.gen {
   width: 120px;
   height: 40px;
   margin-top: 0.7rem;
}


.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.check:hover input ~ .checkmark {
    background-color: #ccc;
}


.check input:checked ~ .checkmark {
    background-color: rgb(28, 29, 29);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}


.check .checkmark:after {
    left: 8px;
    top: 0px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.movies img:hover{
    transform: scale(1.2);
    transition: 500ms;
}
@media screen and (max-width:768px) {
    .gen {
        margin-top: 0;
    }
  }